<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
</head>
<body>
<h1>Добавить книгу</h1>
<form action="#" th:action="@{/books/addbook}" th:object="${book}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <p>year Of Publishing: <input type="number" th:field="*{yearOfPublishing}" /></p>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfPublishing')}" th:errors="*{yearOfPublishing}">Name Error</div>
    <p>Автор:
        <select name="author">
            <option>Выберите автора</option>
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.name}">
            </option>
        </select>
    </p>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</div>
    <p>Жанр: <select name="genre">
        <option>Выберие жанр</option>
        <option th:each="genre : ${genres}"
                th:value="${genre.id}"
                th:text="${genre.genreName}">
        </option>
    </select>
    </p>
    <div style="color:red" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Name Error</div>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>