<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
</head>
<body>
<div>
    <img th:src="@{images/Hem.jpg}" width="400"/>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th> Id</th>
            <th> Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td><span th:text="${author.name}"> Имя </span></td>
            <td><a th:href="@{/authors/delete/{id}(id=${author.id})}"> Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a href="/authors/new">Добавить автора</a>
    <a href="/">На главную</a>
</div>
</body>
</html>